.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 8%;
background:#0A122A;
color:white;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.nav-links{
display:flex;
gap:35px;
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:500;
transition:0.3s;
}

.nav-links a:hover{
color:#F59E0B;
}