
<section class="hero">

  <img src="assets/hero.jpeg" class="hero-image">

  <div class="hero-overlay"></div>

  <div class="hero-content">

    <p class="hero-welcome">WELCOME TO</p>

    <h1>The Potters House Melville Church </h1>

    <p class="hero-description">
      Where Jesus Christ is changing lives.
         Join us for worship, fellowship, and community impact.
    </p>

    <div class="hero-buttons">

      <a routerLink="/services" class="primary-btn">
        Our Services →
      </a>

      <a routerLink="/contact" class="secondary-btn">
        Get in Touch
      </a>

    </div>

  </div>

</section>



<section class="quick-info">

<div class="info-grid">

<div class="info-card">

<lucide-icon name="clock"></lucide-icon>

<h3> Main Service Times</h3>

<p>Sundays: 10:30 AM & 17:00 PM</p>
<p>Wednesdays: 7:00 PM</p>

</div>

<div class="info-card">

<lucide-icon name="map-pin"></lucide-icon>

<h3>Location</h3>

<p>5 Sunbury Avenue, Auckland Park</p>
<p>Johannesburg</p>

</div>

<div class="info-card">

<lucide-icon name="mail"></lucide-icon>

<h3>Our Mission</h3>

<p>
 Our mission is to help overcome the difficulties that life presents
  through a practical demonstration of how to live the Chrstian life by means of discipleship. 
</p>

</div>

</div>

</section>

<section class="about">

<p class="section-tag">ABOUT US</p>

<h2>A Community Built on Faith</h2>

<p class="about-text">
At The Potters House Melville Church, we help people live the Christian life through practical lessons and leading by example.
 We believe in guiding others through faith, prayer, fellowship, and outreach, showing God’s love in action.
Our core experiences include salvation, water baptism, and Holy Spirit baptism, and we seek to reflect Christ in everything we do.
</p>

<a routerLink="/services" class="about-link">
Learn about our services →
</a>

</section>

<section class="leaders">

<p class="section-tag">OUR LEADERS</p>

<h2>Meet the Team Serving Our Church</h2>

<p class="leaders-intro">
Get to know the people who help guide the church through teaching, discipleship, and practical care for the community.
</p>

<div class="leaders-grid">

  <article class="leader-card" *ngFor="let leader of leaders">

    <img [src]="leader.image" [alt]="leader.name" class="leader-image">

    <div class="leader-content">
      <h3>{{ leader.name }}</h3>
    </div>

  </article>

</div>

</section>
