<section class="services-section">

<h1>Our Services</h1>

<div class="services-grid">

<div class="service-card">

<h3>Sunday Morning Worship</h3>

<p class="service-time">10:30 AM & 17:0 PM</p>

<p>
Join us for worship, prayer and a message from God's word. Please note that services are not repeated.
</p>

</div>

<div class="service-card">

<h3>Wednesday Evening Service</h3>

<p class="service-time">7:00 PM</p>

<p>
Refresh your spirit and deepen your faith with us as we study the Bible together.
</p>

</div>

<div class="service-card">

<h3>Youth Service</h3>

<p class="service-time">Friday 6:00 PM</p>
<p>
Join us for a fun and engaging service designed for our youth with fellowship games and relevant teaching(sometimes there is free food too 😉).
</p>

</div>

<div class="service-card">

<h3>ONE80 CONCERTS</h3>

<p class="service-time">Saturday 7:00 AM</p>
<p>
Join us for a night of music, poetry and drama hosted by our youth.
</p>

</div>

</div>

</section>