<section class="events-section">

<p class="section-tag">WHAT'S HAPPENING</p>

<h1>Upcoming Events</h1>

<p class="section-description">
Stay connected and be part of what God is doing
in our church community.
</p>

<div class="event-month" *ngFor="let group of eventGroups">
<h2 class="month-heading">{{ group.month }}</h2>

<article class="event-card" *ngFor="let event of group.events">

<div class="event-header">
<h3>{{ event.title }}</h3>

</div>

<span class="event-badge">{{ event.monthShort }} {{ event.day }}</span>

<p class="event-description">{{ event.description }}</p>

<div class="event-divider"></div>

<div class="event-meta">
<p *ngFor="let scheduleItem of event.schedule">
<lucide-icon name="calendar-days" size="16"></lucide-icon>
<span>{{ scheduleItem }}</span>
</p>

<p>
<lucide-icon name="clock" size="16"></lucide-icon>
<span>{{ event.time }}</span>
</p>

<p>
<lucide-icon name="map-pin" size="16"></lucide-icon>
<span>{{ event.location }}</span>
</p>
</div>

</article>
</div>

</section>
