<section class="events-section">

<p class="section-tag">WHAT'S HAPPENING</p>

<h1>Upcoming Events</h1>

<p class="section-description">
Stay connected and be part of what God is doing
in our church community.
</p>

<div class="event-month" *ngFor="let group of eventGroups">
<h2 class="month-heading">{{ group.month }}</h2>

<div class="event-card" *ngFor="let event of group.events">

<div class="event-date">

<span>{{ event.monthShort }}</span>

<h2>{{ event.day }}</h2>

</div>

<div class="event-details">

<h3>{{ event.title }}</h3>

<p *ngFor="let scheduleItem of event.schedule">{{ scheduleItem }}</p>

<p>{{ event.description }}</p>
</div>
</div>
</div>

</section>
